@import "../../../styles.scss";

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

.card:hover {
  background-color: var(--bs-primary-bg-subtle);
  transition: background-color 0.3s ease;
}

.card {
  width: 18rem;
  min-height: 15rem;
}

.book-description {
  max-height: 5rem;
  min-height: 5rem;
  overflow-y: auto;
}

