:host {
  display: block;
}

.error-message {
  position: fixed;
  top: 150;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.error-message.fade-out {
  opacity: 0;
}